/* ROOT */
.root
{
    -fx-background-color: #9BCDFB;
    -fx-alignment: center;
}

/* Tab */
.tab
{
    -fx-alignment: center;
}

/* Logo */
.logo-panel
{
    -fx-translate-y: 30px;
}

#logo-wrapper
{
    -fx-fill: #FFF;

}

/* Digital Clock */
.clock-panel
{
    -fx-translate-y: 50px;
}

#clock-wrapper
{
    -fx-fill: #FFF;
    -fx-arc-width: 35px;
    -fx-arc-height: 35px;
}

#clock-time
{
    -fx-padding: 25 0;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#clock-date
{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

/* Developers */
.developer-panel
{
    -fx-translate-y: 80px;
}

#developer-wrapper
{
    -fx-fill: #FFF;
    -fx-arc-width: 35px;
    -fx-arc-height: 35px;
}

#developer-container
{
    -fx-alignment: center;
    -fx-translate-y: 5;
}

#developer-header
{
    -fx-translate-y: -10;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.developer
{
    -fx-font-size: 15;
    -fx-padding: 2;
}