/* ROOT */

.root {
    -fx-background-color: #9BCDFB;
    -fx-alignment: center;
}
.tab
{
    -fx-alignment: center;
}

.menubar {
    -fx-text-fill: white;
}

.menu {
    /*-fx-background-color: #0A0A0AE0;*/
    -fx-text-fill: white;
}

.content-wrapper
{
    -fx-alignment: top-center;
}

/*.box {*/
/*    -fx-max-height: 10px;*/
/*    -fx-heigh*/
/*    -fx-background-color: #000000;*/
/*    -fx-graphic: url(logo_transparent.png);*/
/*}*/
.logo-panel {
    -fx-translate-y: 30px;
}

#logo-wrapper
{
    -fx-fill: #FFF;

}

.logoBox {
    /*-fx-graphic: url(https://docs.oracle.com/javafx/javafx/images/javafx-documentation.png);*/
    -fx-alignment: center;
    /*-fx-background-color:#FFFFFF;*/
    -fx-max-width: 300;
    /*-fx-translate-x: 10px;*/
    -fx-border-radius: 100px;
    -fx-translate-y: 30px;
}


/* NAVBAR */
/*.navbar{*/
/*    -fx-background-color: #0A0A0AE0;*/
/*    -fx-alignment: center-left;*/
/*    -fx-max-height: 65px;*/
/*}*/

/*.nav-button {*/
/*    -fx-background-color: #0A0A0A00;*/
/*    -fx-pref-height: 64px;*/
/*    -fx-pref-width: 187px;*/
/*    -fx-text-fill: white;*/
/*}*/

/*.nav-button .text {*/
/*    -fx-opacity: 1;*/
/*}*/
/*.nav-button:hover {*/
/*    -fx-background-color: #0A0A0AFF;*/
/*}*/


/*#home-button{*/
/*    -fx-graphic: url(../../home_icon.png);*/
/*    -fx-alignment: center;*/
/*    -fx-pref-width: 64px;*/
/*}*/

/*#settings-button{*/
/*    -fx-graphic: url(ooploverz/tubes2_oop/settings_icon.png);*/
/*    -fx-alignment: center;*/
/*    -fx-pref-width: 64px;*/
/*}*/

/* Logo */


/* Digital Clock */

/* Developers */

/* Footer */