/* ROOT */

.root
{
    -fx-background-color: #9BCDFB;
    -fx-alignment: center;
}

/* Tab */
.tab
{
    -fx-alignment: center;
}


/* Content */

/* Menu Bar */

/* Logo */
.logo-panel
{
    -fx-translate-y: 30px;
}

#logo-wrapper
{
    -fx-fill: #FFF;

}

/* Digital Clock */
.clock-panel
{
    -fx-translate-y: 50px;
}

#clock-wrapper
{
    -fx-fill: #FFF;
    -fx-arc-width: 35px;
    -fx-arc-height: 35px;
}

#clock-container
{
    -fx-translate-y: 25;
    -fx-translate-x: 710;
}

#clock-time
{
    -fx-translate-x: 35;
    -fx-padding: 30 0;
}

/* Developers */
.developer-panel
{
    -fx-translate-y: 80px;
}

#developer-wrapper
{
    -fx-fill: #FFF;
    -fx-arc-width: 35px;
    -fx-arc-height: 35px;
}

#developer-container
{
    -fx-alignment: center-left;
    -fx-translate-y: 5;
    -fx-translate-x: 655;
}

#developer-header
{
    -fx-translate-y: -15;
    -fx-translate-x: 80;

}

.developer {
    /*-fx-alignment: center-left;*/
    -fx-padding: 3;
}

/* Footer */